@import '../base/all'

.block
  display block
  padding 9px 15px
  border-radius 1px
  font-size $font_size_s13
  font-weight normal
  background-color $color_white
  &[disabled]
    opacity 1
    color $color_black_a30
    background-color $color_gray
    border-color $color_gray