@import '../base/all'

header
  position fixed
  top 0
  right 0
  width 100%
  z-index 10
  padding 16px 0
  text-align center
  box-sizing border-box
  -webkit-box-sizing border-box
  background-color $color_white
  // border-bottom 1px solid rgba(0, 0, 0, 0.1)
  .title
    text-align left
    padding-left 52px
    font-weight normal
  button
    &.btn_close
      position absolute
      padding 0
      top 10px
      left 12px
      width 34px
      height 34px
      border 0
      background url('/static/images/btn-com-close.svg') 34px 34px