@import '../base/all'

.pull-right
  float right
.pull-left
  float left
.clear
  clear both

/* text with arrange */
.text-right
  text-align right
.text-left
  text-align left
.text-center
  text-align center

/* text with color */
.text-muted
  color $color_black_a50
.text-triple
  color $color_primary
.text-default
  color $color_default
.text-primary
  color $color_primary
.text-warn
  color $color_warn
.text-info
  color $color_info
.text-success
  color $color_success
.text-purple
  color $color_purple

/* text with weight */
.text-bold
  font-weight 600
.text-help
  font-size 10px

/* list */
.no-style {
  list-style none
}

/* background color */
.bg-white
  background-color $color_white
.bg-primary
  background-color $color_primary
.bg-warn
  background-color $color_warn
.bg-info
  background-color $color_info
.bg-success
  background-color $color_success
.bg-purple
  background-color $color_purple

/* margin, padding */
.p-5
  padding 5px
.p-10
  padding 10px
.p-15
  padding 15px
.p-20
  padding 20px
.m-5
  margin 5px
.m-10
  margin 10px
.m-15
  margin 15px
.m-20
  margin 20px

.mb-5
  margin-bottom 5px
.ml-5
  margin-left 5px
.mr-5
  margin-right 5px
.mt-5
  margin-top 5px

.mb-10
  margin-bottom 10px
.ml-10
  margin-left 10px
.mr-10
  margin-right 10px
.mt-10
  margin-top 10px

.mb-15
  margin-bottom 15px
.ml-15
  margin-left 15px
.mr-15
  margin-right 15px
.mt-15
  margin-top 15px

.mb-20
  margin-bottom 20px
.ml-20
  margin-left 20px
.mr-20
  margin-right 20px
.mt-20
  margin-top 20px

.pl-5
  padding-left 5px
.pr-5
  padding-right 5px
.pt-5
  padding-top 5px
.pb-5
  padding-bottom 5px

.pl-10
  padding-left 10px
.pr-10
  padding-right 10px
.pt-10
  padding-top 10px
.pb-10
  padding-bottom 10px

.pl-15
  padding-left 15px
.pr-15
  padding-right 15px
.pt-15
  padding-top 15px
.pb-15
  padding-bottom 15px

.pl-20
  padding-left 20px
.pr-20
  padding-right 20px
.pt-20
  padding-top 20px
.pb-20
  padding-bottom 20px

.no-margin {
  margin: 0
}
.no-padding {
  padding: 0
}

/* table, row, cell */
.row
  display table
  width 100%
.cell
  display table-cell
  vertical-align middle
  &.w10
    width 100%
  &.w9
    width 90%
  &.w8
    width 80%
  &.w7
    width 70%
  &.w6
    width 60%
  &.w5
    width 50%
  &.w4
    width 40%
  &.w3
    width 30%
  &.w2
    width 20%
  &.w1
    width 10%

/* border */
.border-1
  border 1px solid $color_gray_a10
.border-top
  border-top 1px solid $color_gray_a30
.border-bottom
  border-bottom 1px solid $color_gray_a30
.border-left
  border-bottom 1px solid $color_gray_a30
.border-right
  border-right 1px solid $color_gray_a30

/* vertical align */
.vtop
  vertical-align top
.vbottom
  vertical-align bottom

/* color */
