@import '../base/all'

.markdown
  h1, h2, h3, h4, h5, h6
    margin-bottom 5px
  h1
    font-size $font_size_l21
  h2
    font-size $font_size_l20
  h3
    font-size $font_size_m18
  h4
    font-size $font_size_m16
  h5
    font-size $font_size_s14
  h6
    font-size $font_size_xs12
  ul
    padding-left 20px
  > *:last-child
    margin 0
