// colors
$color_white = #ffffff
$color_deep_black = #000000
$color_black = rgba(58, 58, 58, 1)
$color_black_a90 = rgba(58, 58, 58, 0.9)
$color_black_a80 = rgba(58, 58, 58, 0.8)
$color_black_a70 = rgba(58, 58, 58, 0.7)
$color_black_a60 = rgba(58, 58, 58, 0.6)
$color_black_a50 = rgba(58, 58, 58, 0.5)
$color_black_a30 = rgba(58, 58, 58, 0.3)
$color_black_a20 = rgba(58, 58, 58, 0.2)
$color_black_a10 = rgba(58, 58, 58, 0.1)
$color_black_a05 = rgba(58, 58, 58, 0.05)
// $color_point = #1ab8ad
$color_default = rgba(58, 58, 58, 1)
$color_gray = #efefef
$color_gray_a90 = rgba(144, 144, 144, 0.9)
$color_gray_a80 = rgba(144, 144, 144, 0.8)
$color_gray_a70 = rgba(144, 144, 144, 0.7)
$color_gray_a60 = rgba(144, 144, 144, 0.6)
$color_gray_a50 = rgba(144, 144, 144, 0.5)
$color_gray_a30 = rgba(144, 144, 144, 0.3)
$color_gray_a20 = rgba(144, 144, 144, 0.2)
$color_gray_a10 = rgba(144, 144, 144, 0.1)
$color_gray_a05 = rgba(144, 144, 144, 0.05)
$color_primary = rgba(54, 143, 255, 1)
$color_primary_a90 = rgba(54, 143, 255, 0.9)
$color_primary_a80 = rgba(54, 143, 255, 0.8)
$color_primary_a70 = rgba(54, 143, 255, 0.7)
$color_primary_a60 = rgba(54, 143, 255, 0.6)
$color_primary_a50 = rgba(54, 143, 255, 0.5)
$color_primary_a40 = rgba(54, 143, 255, 0.4)
$color_primary_a30 = rgba(54, 143, 255, 0.3)
$color_primary_a20 = rgba(54, 143, 255, 0.2)
$color_primary_a10 = rgba(54, 143, 255, 0.1)
$color_primary_a05 = rgba(54, 143, 255, 0.05)
$color_warn = #fd7e14
$color_success = #28a745
$color_info = #17a2b8
$color_purple = #975fff
$color_modal_bg = rgba(48, 52, 56, 0.9)
// colors used in special package views
$color_sp_purple = #8551f7
$color_sp_blue = #3666ff