@import '_variables'
@import '_colors'

h1, h2, h3, h4, h5, h6
  font-weight 600

h1
  font-size $font_size_xl32

h2
  font-size $font_size_xl26

h3
  font-size $font_size_l24

h4
  font-size $font_size_l20

h5
  font-size $font_size_m18

h6
  font-size $font_size_m16

// Links
a
  &:link, &:visited, &:hover
    color $color_black
    text-decoration none