// font size
// 1rem = 16px
$font_size_xl32 = 2rem // title
$font_size_xl28 = 1.75rem // title
$font_size_xl26 = 1.625rem // title
$font_size_l24 = 1.5rem // title
$font_size_l22 = 1.375rem // prices
$font_size_l21 = 1.3125rem // prices
$font_size_l20 = 1.25rem // list, card title
$font_size_m18 = 1.125rem // sub title, button
$font_size_m17 = 1.0625rem
$font_size_m16 = 1rem // body
$font_size_m15 = 0.9375rem // user name
$font_size_s14 = 0.875rem // buton, sub content
$font_size_s13 = 0.8125rem // sub content
$font_size_xs12 = 0.75rem // chat, additional text
$font_size_xs11 = 0.6875rem // inside small box
$font_size_xs8 = 0.5rem
